@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    background-image: url(../image/fdb21c0e4f3dbb6ccd9a63c68fce8645.gif);
    justify-content: center;
    margin: 0;
}

/* start of header */

.header-area {
    background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.5));
    position: sticky;
}

.nav-links {
    display: flex;
    /* margin-top: -210%;
    margin-left: -420%; */
    justify-content: space-around; 
    align-items: center; 
    background-image: url(../image/fdb21c0e4f3dbb6ccd9a63c68fce8645.gif);
    transition: background-image 0.5s; 
    border-radius: 1rem;
    width: 100%;
}

p {
    color: black;
}
p:hover{
    color: white;
}
.nav-links:hover {
    background-image: url(../image/66e5f8465c5c94aab33931d3d35912bd.jpg);
}



nav p img {
    width: 60px;
}

.nav-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 10px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.nav-links .center {
    margin: 2px auto;
    text-align: center;
    transition: background-image 0.5s; 
    justify-content: center;
    flex: 1;
}


.nav-links li {
    list-style: none;
    margin: 0 12px;
}
.nav-links li a:hover{
  color: azure;
}
.nav-links li a {
    position: relative;
    color: #272424;
    font-size: 30px;
    font-weight: 500;
    padding: 6px 0;
    text-decoration: none;
    text-shadow: 0px 0px 10px #b8b3f1;
}
